.full-bg {
    width: 100%;
    height: 100%;
    background: rgb(14, 14, 14);
}

.side {
    background: rgb(24, 24, 24);
    border-right: 1px solid rgba(128, 128, 128, 0.452);
}

.ova {
    overflow: auto;
}

.white {
    color: #FFFFFF
}

.avatar {
    border-radius: 100%;
    border: 3px dashed white;
    width: 200px;
    height: 200px;
}

.av {
    width: 8vh;
}

.h-90 {
    height: 90%!important
}

.h-80 {
    height: 80%!important
}

.h-99 {
    height: 99%;
}

.red{
    color: red;
}

.msg-s {
    border-radius: 20px;
    color: #EEEEEE;
    font-weight: 200;
    border: 1px solid #333333;
    background: #000000;
    padding: 10px
}

.padding-bottom-10 {
    padding-top: 10px!important;
}

a{
    color: gold;
}

a:hover{
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 4px #dd9000
}
.textfield-transparent {
    background-color: rgba(0, 0, 0, 0.651);
    color: white;
    border-radius: 20px;
    padding: 5px;
    border: 0px;
}

textarea:focus, input:focus {
    outline: none;
}

.m-w-60 {
    max-width: 60%;
    word-wrap: break-word;
    margin-top: 5px;
    margin-bottom: 5px;
}

.msg-r {
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-weight: 200;
    border: 1px solid #eede0088;
    background: #000000;
    padding: 10px
}

.h-10 {
    height: 10% !important;
}

.m-0 {
    margin: 0px;
}

.name {
    color: #FFFFFF;
    text-shadow: 0px 0px 3px #000000;
    font-size: 24px;
}

.pp {
    padding-right: 0px !important;
    padding-left: 3px !important;
}

.mb-1 {
    margin-bottom: 1px !important;
}

.user-container {
    width: 100%;
    margin-bottom: 1px;
}

.mh-100 {
    min-height: 100% !important;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #333333;
    border: 0px none #ffffff;
    border-radius: 50px;
}

.sicon {
    color: gray;
    font-size: 32px;
    font-weight: lighter;
}

.slim {
    font-weight: lighter;
}

::-webkit-scrollbar-thumb:hover {
    background: #4d4521;
}

::-webkit-scrollbar-thumb:active {
    background: #dd9000;
}

::-webkit-scrollbar-track {
    background: #00000056;
    border: 0px none #ffffff;
    border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
    background: #00000056;
}

::-webkit-scrollbar-track:active {
    background: #000000a8;
}

::-webkit-scrollbar-corner {
    background: transparent;
}