@import "~bootstrap\dist\css\bootstrap.min.css";


.fullscreen {
    width: 100%;
    height: 100%;  
}
.full_space {
    width: 100%;
    height: 100%;
    background-size: cover, cover;
    background-repeat: no-repeat,  no-repeat;
    align-items: center;
    justify-content: center;
}
.carousel-center { 
    bottom: 40%
}

.big_font_home {
    font-size: 72px;
    color: white;
    text-shadow: 2px 2px 2px #000000;
}
.medium_font_home {
    font-size: 32px;
    color: white;
    text-shadow: 2px 2px 2px #000000;
}